@use '../abstracts' as *;

button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	transition: all 0.3s ease;

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

.primary-button {
	background-color: $primary-base;
	color: $grey-100;

	&:hover {
		background-color: $primary-base-dark;
	}
}

.secondary-button {
	background-color: $grey-100;
	color: $primary-base;
	border: 1px solid $primary-base;

	&:hover {
		background-color: $primary-base;
		color: $grey-100;
	}
}

.loading-button {
	.icon {
		color: $grey-100;
		margin: 0;
		padding: 0;
	}
	width: 10rem;
	border: 1px solid $grey-500;
	background-color: $grey-400;
}
