@use '../abstracts' as *;

.cart-sidebar-item {
	display: flex;
	font-size: 1.8rem;

	&__title {
		display: flex;
		flex-grow: 1;
		color: $grey-500;
	}

	&__dots {
		flex-grow: 1;
		border-bottom: 1px solid $grey-300;
		border-style: dashed;
		border-top: none;
		border-left: none;
		border-right: none;
		position: relative;
		top: -0.5rem;
	}

	&__price {
		// text-align: right;
	}
}

@media screen and (max-width: 600px) {
	.cart-sidebar-item {
		font-size: 1.6rem;
		&__title {
			flex-grow: 1;
			width: auto;
		}

		&__dots {
			// display: none;
		}

		&__price {
			text-align: start;
		}
	}
}
