@use '../abstracts' as *;

.categories {
	font-size: 1.6rem;

	ul {
		display: flex;
		gap: 2rem;

		a {
			padding: 1.8rem 0 1.8rem 0;
			cursor: pointer;
			transition: all 0.3s ease;
			text-decoration: none;
			color: $grey-900;

			&:hover {
				color: $primary-base;
			}

			&.active {
				color: $primary-base;
			}
		}
	}
}
