@use '../abstracts' as *;

.form {
	height: 100%;
	padding: 4rem;
	padding-top: 6rem;
	padding-bottom: 2rem;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 1rem;
	}

	&__header {
		margin-bottom: 1rem;
	}

	&__title {
		font-size: 2.4rem;
	}

	&__subtitle {
		font-size: 1.6rem;
		color: $grey-400;
	}

	.primary-button {
		padding: 2rem;
		font-size: 1.6rem;
		border-radius: 1.2rem;

		&:hover {
			background-color: $primary-base-dark;
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
			background-color: $grey-400;
		}
	}

	&__content-profile {
		@extend .form__content;
		width: 40rem;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
	}
}
