@use '../abstracts' as *;

.modal-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 30;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	position: relative;

	display: flex;
	flex-direction: column;
	width: 40rem;
	height: fit-content;
	background-color: $grey-100;
	border-radius: 2rem;

	&__close {
		position: absolute;
		right: 3rem;
		top: 3rem;
		margin-left: auto;
		cursor: pointer;

		.icon {
			color: $grey-300;
			background-color: $grey-100;
			transition: all 0.3s ease;
		}

		&:hover {
			.icon {
				color: $grey-500;
			}
		}
	}

	&__switch {
		margin: 0 auto;

		margin-bottom: 3rem;
		padding: 1rem;
		font-size: 1.2rem;
		border-radius: 1.2rem;
		background-color: $grey-100;
		border: 1px solid $primary-base;
		transition: all 0.3s ease;
		color: $primary-base;

		&:hover {
			background-color: $primary-base;
			color: $grey-100;
		}
	}
}

@media screen and (max-width: 600px) {
	.modal {
		width: 30rem;
		height: 80%;
		overflow-y: scroll;
	}
}
