@use '../abstracts' as *;

.profile-and-cart {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;

	.primary-button,
	.secondary-button {
		.icon {
			margin-right: 0.6rem;
		}
	}

	.primary-button,
	.secondary-button,
	.loading-button {
		padding: 1rem 1rem;
		border-radius: 1.2rem;
		font-size: 1.6rem;
		line-height: 1.6rem;
	}
}

@media screen and (max-width: 600px) {
	.profile-and-cart {
		width: 100%;
		justify-content: flex-start;

		.primary-button,
		.secondary-button {
			width: 100%;
			border: 2px solid $primary-base;
		}

		.loading-button {
			width: 100%;
		}

		&__link {
			width: 100%;
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 950px) {
	.profile-and-cart {
		width: 40rem;
		align-self: center;
		justify-content: flex-start;

		.primary-button,
		.secondary-button {
			width: 100%;
			border: 2px solid $primary-base;
		}

		&__link {
			width: 100%;
		}
	}
}
