@use '../abstracts' as *;

.product-item {
	display: flex;
	flex-direction: column;

	.info {
		padding-bottom: 0;
		margin-bottom: 1rem;
	}

	.name {
		font-size: 2rem;
	}

	.description {
		font-size: 1.4rem;
		color: $grey-400;
	}

	.rating {
		display: flex;

		.icon {
			margin-right: 0.5rem;
			color: $primary-base-dark;
		}
	}

	.price-rating {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1.8rem;
		margin-top: auto;
	}

	&__img {
		border-radius: 5rem;
		width: 100%;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
		margin-bottom: 1rem;
	}

	.primary-button {
		margin-left: auto;
		margin-right: auto;
		font-size: 1.6rem;
		padding: 1rem 2rem;
		border-radius: 1rem;
		background-color: $primary-base-light;
		color: $primary-base-dark;

		&:hover {
			background-color: $primary-base-mid-light;
			// color: $grey-100;
		}
	}
}
