@use '../abstracts' as *;

.profile-and-cart {
	display: flex;
	gap: 1rem;
	width: 25rem;
	justify-content: flex-end;

	.primary-button,
	.secondary-button {
		padding: 1rem 1rem;
		border-radius: 1.2rem;
		font-size: 1.8rem;
		// line-height: 1.6rem;
		.icon {
			margin-right: 0.6rem;
		}
	}

	.primary-button,
	.secondary-button,
	.loading-button {
		padding: 1rem 1rem;
		border-radius: 1.2rem;
		font-size: 1.6rem;
		line-height: 1.6rem;
	}
}
