@use '../abstracts' as *;

.search-bar {
	position: relative;
	left: -8rem;
	display: flex;
	align-items: center;

	.icon {
		color: $grey-300;
		position: absolute;
		left: 1.2rem;
		top: 1.2rem;
	}

	input {
		border: 1px solid $grey-300;
		padding: 1.2rem 2rem;
		padding-left: 4.2rem;
		padding-right: 4rem;
		width: 40rem;
		border-radius: 2rem;
		font-size: 1.6rem;

		&:focus {
			border: 1px solid $grey-700;
		}
	}

	.clear-button {
		background: none;
		border: none;
		cursor: pointer;
		position: absolute;
		right: 1.2rem;
		top: 1.2rem;
		color: $grey-300;

		&:hover {
			color: $grey-700;
		}
	}
}
