$primary-base: #ff6900;
$primary-base-light: #fff0e6;
$primary-base-mid-light: #ffd2b3;
$primary-base-dark: #d15700;

$grey-100: #ffffff;
$grey-200: #e6e6e6;
$grey-300: #cccccc;
$grey-400: #808080;
$grey-500: #666666;
$grey-600: #4d4d4d;
$grey-700: #333333;
$grey-800: #1a1a1a;
$grey-900: #000000;

$skeleton-grey-dark: hsl(210, 15%, 90%);
$skeleton-grey-light: hsl(200, 20%, 95%);
