@use '../abstracts' as *;

.header {
	border-bottom: 1px solid $grey-200;
	box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.15);

	.container {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center;
	}
}

@media screen and (max-width: 950px) {
	.header {
		.container {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			margin-bottom: 2rem;
			margin-top: 2rem;
		}
	}
}

@media screen and (min-width: 950px) and (max-width: 1150px) {
	.header {
		.container {
			grid-template-columns: 1fr 1.1fr 0.9fr;
		}
	}
}
