@use '../abstracts' as *;

.header {
	border-bottom: 1px solid $grey-200;
	box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.15);

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: 950px) {
			flex-direction: column;
			gap: 2rem;
			margin-bottom: 2rem;
			margin-top: 2rem;
		}
	}
}
