@use '../abstracts' as *;

.header {
	border-bottom: 1px solid $grey-200;
	box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.15);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
