@use '../../abstracts' as *;

.skeleton {
	animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
	0% {
		background-color: $skeleton-grey-dark;
	}
	100% {
		background-color: $skeleton-grey-light;
	}
}
